/* _[Primitives] Core Color Variables */
:root {
  /* Value */
  /* color */
  --none: #ffffff00;
  --black-alpha-10: #0000001a;
  --black-alpha-15: #00000026;
  --black-alpha-2: #00000006;
  --black-alpha-20: #00000033;
  --black-alpha-30: #0000004d;
  --black-alpha-4: #0000000a;
  --black-alpha-40: #00000066;
  --black-alpha-50: #00000080;
  --black-alpha-6: #0000000f;
  --black-alpha-60: #00000099;
  --black-alpha-70: #000000b2;
  --black-alpha-80: #000000cc;
  --black-alpha-85: #000000d9;
  --black-alpha-90: #000000e5;
  --blue-10: #eff6ff;
  --blue-100: #1e3a8a;
  --blue-110: #1c2d66;
  --blue-20: #dbeafe;
  --blue-30: #bfdbfe;
  --blue-40: #93c5fd;
  --blue-50: #60a5fa;
  --blue-60: #3b82f6;
  --blue-70: #2563eb;
  --blue-80: #1d4ed8;
  --blue-90: #1e40af;
  --cyan-10: #f1fcfa;
  --cyan-100: #184649;
  --cyan-110: #0b383d;
  --cyan-20: #d0f7f4;
  --cyan-30: #a1eee9;
  --cyan-40: #67e1e0;
  --cyan-50: #48c6c4;
  --cyan-60: #23acae;
  --cyan-70: #1b888c;
  --cyan-80: #18686d;
  --cyan-90: #19595d;
  --green-10: #f0fdf4;
  --green-100: #14532d;
  --green-110: #094221;
  --green-20: #dcfce7;
  --green-30: #bbf7d0;
  --green-40: #86efac;
  --green-50: #4ade80;
  --green-60: #22c55e;
  --green-70: #16a34a;
  --green-80: #15803d;
  --green-90: #166534;
  --indigo-10: #eef2ff;
  --indigo-100: #312e81;
  --indigo-110: #272361;
  --indigo-20: #e0e7ff;
  --indigo-30: #c7d2fe;
  --indigo-40: #a5b4fc;
  --indigo-50: #818cf8;
  --indigo-60: #6366f1;
  --indigo-70: #4f46e5;
  --indigo-80: #4338ca;
  --indigo-90: #3730a3;
  --lime-10: #f7fee7;
  --lime-100: #365314;
  --lime-110: #254207;
  --lime-20: #ecfccb;
  --lime-30: #d9f99d;
  --lime-40: #bef264;
  --lime-50: #a3e635;
  --lime-60: #84cc16;
  --lime-70: #65a30d;
  --lime-80: #4d7c0f;
  --lime-90: #3f6212;
  --magenta-10: #fdf4ff;
  --magenta-100: #701a75;
  --magenta-110: #5c0561;
  --magenta-20: #fae8ff;
  --magenta-30: #f5d0fe;
  --magenta-40: #f0abfc;
  --magenta-50: #e879f9;
  --magenta-60: #d946ef;
  --magenta-70: #c026d3;
  --magenta-80: #a21caf;
  --magenta-90: #86198f;
  --neutral-0: #ffffff;
  --neutral-10: #f5f5f5;
  --neutral-100: #171717;
  --neutral-110: #141414;
  --neutral-20: #ebebeb;
  --neutral-30: #dcdcdc;
  --neutral-40: #d1d1d1;
  --neutral-5: #f7f7f7;
  --neutral-50: #a3a3a3;
  --neutral-60: #7b7b7b;
  --neutral-70: #333333;
  --neutral-80: #292929;
  --neutral-90: #1c1c1c;
  --neutral-alpha-10: #c7c7c714;
  --neutral-alpha-100: #c7c7c773;
  --neutral-alpha-20: #c7c7c71a;
  --neutral-alpha-30: #c7c7c71f;
  --neutral-alpha-40: #c7c7c726;
  --neutral-alpha-5: #c7c7c70d;
  --neutral-alpha-50: #c7c7c733;
  --neutral-alpha-60: #c7c7c740;
  --neutral-alpha-70: #c7c7c74d;
  --neutral-alpha-80: #c7c7c759;
  --neutral-alpha-90: #c7c7c766;
  --orange-10: #fff7ed;
  --orange-100: #7c2d12;
  --orange-110: #5c2008;
  --orange-20: #ffedd5;
  --orange-30: #fed7aa;
  --orange-40: #fdba74;
  --orange-50: #fb923c;
  --orange-60: #f97316;
  --orange-70: #ea580c;
  --orange-80: #c2410c;
  --orange-90: #9a3412;
  --purple-10: #f5f3ff;
  --purple-100: #4c1d95;
  --purple-110: #38137a;
  --purple-20: #ede9fe;
  --purple-30: #ddd6fe;
  --purple-40: #c4b5fd;
  --purple-50: #a78bfa;
  --purple-60: #8b5cf6;
  --purple-70: #7c3aed;
  --purple-80: #6d28d9;
  --purple-90: #5b21b6;
  --red-10: #fef2f2;
  --red-100: #7f1d1d;
  --red-110: #69110a;
  --red-20: #fee2e2;
  --red-30: #fecaca;
  --red-40: #fca5a5;
  --red-50: #f87171;
  --red-60: #ef4444;
  --red-70: #dc2626;
  --red-80: #b91c1c;
  --red-90: #991b1b;
  --special-bg-light: #f3f4f1;
  --special-bg-light-bold: #eeefeb;
  --special-bg-mobile: #15171a;
  --white-alpha-10: #ffffff1a;
  --white-alpha-15: #ffffff26;
  --white-alpha-20: #ffffff33;
  --white-alpha-3: #ffffff08;
  --white-alpha-30: #ffffff4d;
  --white-alpha-40: #ffffff66;
  --white-alpha-5: #ffffff0d;
  --white-alpha-50: #ffffff80;
  --white-alpha-60: #ffffff99;
  --white-alpha-7: #ffffff12;
  --white-alpha-70: #ffffffb2;
  --white-alpha-80: #ffffffcc;
  --white-alpha-85: #ffffffd9;
  --white-alpha-90: #ffffffe5;
  --yellow-10: #fefce8;
  --yellow-100: #713f12;
  --yellow-110: #593308;
  --yellow-20: #fef9c3;
  --yellow-30: #fef08a;
  --yellow-40: #fde047;
  --yellow-50: #facc15;
  --yellow-60: #eab308;
  --yellow-70: #ca8a04;
  --yellow-80: #a16207;
  --yellow-999: #854d0e;
}
