/* Component Theme */
:root {
  /* Light */
  /* color */
  --color-avatar-group: var(--orange-70);
  --color-avatar-organization: var(--neutral-90);
  --color-avatar-project: var(--blue-70);
  --color-avatar-user-1: var(--blue-30);
  --color-avatar-user-10: var(--green-30);
  --color-avatar-user-11: var(--neutral-30);
  --color-avatar-user-2: var(--indigo-30);
  --color-avatar-user-3: var(--lime-30);
  --color-avatar-user-4: var(--cyan-30);
  --color-avatar-user-5: var(--magenta-30);
  --color-avatar-user-6: var(--purple-30);
  --color-avatar-user-7: var(--orange-30);
  --color-avatar-user-8: var(--red-30);
  --color-avatar-user-9: var(--yellow-30);
  --color-banner-critical: var(--red-70);
  --color-banner-default: var(--neutral-60);
  --color-banner-info: var(--indigo-70);
  --color-banner-success: var(--green-70);
  --color-banner-warning: var(--yellow-60);
  --color-button-critical-icon-default: var(--neutral-0);
  --color-button-critical-icon-default-ghost: var(--red-60);
  --color-button-critical-icon-disabled: var(--red-40);
  --color-button-critical-surface-default: var(--red-60);
  --color-button-critical-surface-disabled: var(--red-20);
  --color-button-critical-surface-subtle: var(--red-20);
  --color-button-critical-text-default: var(--neutral-0);
  --color-button-critical-text-default-ghost: var(--red-60);
  --color-button-critical-text-disabled: var(--red-40);
  --color-button-ghost-icon-bold: var(--color-icon-bold);
  --color-button-ghost-icon-default: var(--color-icon-default);
  --color-button-ghost-icon-disabled: var(--color-icon-disabled);
  --color-button-ghost-text-default: var(--color-text-body);
  --color-button-ghost-text-disabled: var(--color-text-disabled);
  --color-button-glass-icon-default: var(--black-alpha-80);
  --color-button-glass-icon-disabled: var(--black-alpha-20);
  --color-button-glass-icon-disabled-on-tint: var(--black-alpha-20);
  --color-button-glass-icon-on-tint: var(--white-alpha-90);
  --color-button-glass-icon-subtle: var(--black-alpha-60);
  --color-button-glass-icon-tint: var(--blue-60);
  --color-button-glass-surface-selected: var(--neutral-20);
  --color-button-glass-text-default: var(--black-alpha-80);
  --color-button-glass-text-disabled: var(--black-alpha-20);
  --color-button-glass-text-disabled-on-tint: var(--black-alpha-20);
  --color-button-glass-text-on-tint: var(--white-alpha-90);
  --color-button-glass-text-subtle: var(--black-alpha-60);
  --color-button-glass-text-tint: var(--blue-60);
  --color-button-outline-border-default: var(--black-alpha-6);
  --color-button-outline-border-disabled: var(--black-alpha-2);
  --color-button-outline-icon-bold: var(--color-icon-bold);
  --color-button-outline-icon-default: var(--color-icon-default);
  --color-button-outline-icon-disabled: var(--color-icon-disabled);
  --color-button-outline-surface-default: var(--none);
  --color-button-outline-text-default: var(--color-text-body);
  --color-button-outline-text-disabled: var(--color-text-disabled);
  --color-button-primary-border: var(--black-alpha-10);
  --color-button-primary-icon-default: var(--color-icon-white-bold);
  --color-button-primary-icon-disabled: var(--color-icon-disabled);
  --color-button-primary-surface-default: var(--color-surface-brand-bold-default);
  --color-button-primary-surface-disabled: var(--neutral-alpha-30);
  --color-button-primary-text-default: var(--color-text-white-title);
  --color-button-primary-text-disabled: var(--color-text-disabled);
  --color-button-secondary-icon-bold: var(--color-icon-bold);
  --color-button-secondary-icon-default: var(--color-icon-default);
  --color-button-secondary-icon-disabled: var(--color-icon-disabled);
  --color-button-secondary-surface-default: var(--neutral-alpha-60);
  --color-button-secondary-surface-disabled: var(--neutral-alpha-30);
  --color-button-secondary-text-default: var(--color-text-body);
  --color-button-secondary-text-disabled: var(--color-text-disabled);
  --color-button-text-black-icon-default: var(--color-icon-black-bold);
  --color-button-text-black-icon-disabled: var(--color-icon-black-disabled);
  --color-button-text-black-text-default: var(--color-text-black-bold);
  --color-button-text-black-text-disabled: var(--color-text-black-disabled);
  --color-button-text-critical-icon-default: var(--color-icon-critical-default);
  --color-button-text-critical-icon-disabled: var(--color-icon-disabled);
  --color-button-text-critical-text-default: var(--color-text-critical-default);
  --color-button-text-critical-text-disabled: var(--color-text-disabled);
  --color-button-text-default-icon-default: var(--color-icon-bold);
  --color-button-text-default-icon-disabled: var(--color-icon-disabled);
  --color-button-text-default-icon-subtle: var(--color-icon-default);
  --color-button-text-default-text-default: var(--color-text-title);
  --color-button-text-default-text-disabled: var(--color-text-disabled);
  --color-button-text-default-text-subtle: var(--color-text-body);
  --color-button-text-link-icon-default: var(--color-icon-brand-default);
  --color-button-text-link-icon-disabled: var(--color-icon-disabled);
  --color-button-text-link-text-default: var(--color-text-brand-default);
  --color-button-text-link-text-disabled: var(--color-text-disabled);
  --color-button-text-white-icon-default: var(--color-icon-white-bold);
  --color-button-text-white-icon-disabled: var(--color-icon-white-disabled);
  --color-button-text-white-text-default: var(--color-text-white-title);
  --color-button-text-white-text-disabled: var(--color-text-white-disabled);
  --color-chips-border-default: var(--black-alpha-10);
  --color-chips-border-disabled: var(--black-alpha-2);
  --color-chips-icon-default: var(--color-icon-default);
  --color-chips-icon-disabled: var(--color-icon-disabled);
  --color-chips-icon-selected: var(--color-icon-inverse-bold);
  --color-chips-surface-selected: var(--neutral-80);
  --color-chips-text-default: var(--color-text-body);
  --color-chips-text-disabled: var(--color-text-disabled);
  --color-chips-text-selected: var(--color-text-inverse-bold);
  --color-input-border: var(--black-alpha-6);
  --color-input-surface: var(--neutral-0);
  --color-input-border-bold: var(--black-alpha-20);
  --color-input-border-critical: var(--color-border-critical-default);
  --color-input-border-disabled: var(--color-border-disabled);
  --color-input-border-focused: var(--neutral-50);
  --color-input-border-hovered: var(--neutral-alpha-100);
  --color-input-border-selected: var(--color-border-brand-default);
  --color-input-border-selected-light: var(--color-border-brand-subtle);
  --color-input-surface-bold: var(--black-alpha-10);
  --color-input-surface-disabled: var(--color-surface-fg-disabled);
  --color-input-surface-disabled-bold: var(--black-alpha-15);
  --color-input-surface-hovered: var(--black-alpha-4);
  --color-input-surface-selected: var(--black-alpha-6);
  --color-input-surface-selected-brand: var(--color-surface-brand-bold-default);
  --color-segmented-control-background: var(--neutral-alpha-40);
  --color-segmented-control-background-mobile: var(--black-alpha-6);
  --color-segmented-control-foreground-hover: var(--neutral-alpha-60);
  --color-segmented-control-foreground-selected: var(--neutral-0);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark */
    /* color */
    --color-avatar-group: var(--orange-60);
    --color-avatar-organization: var(--neutral-0);
    --color-avatar-project: var(--blue-60);
    --color-avatar-user-1: var(--blue-30);
    --color-avatar-user-10: var(--green-30);
    --color-avatar-user-11: var(--neutral-30);
    --color-avatar-user-2: var(--indigo-30);
    --color-avatar-user-3: var(--lime-30);
    --color-avatar-user-4: var(--cyan-30);
    --color-avatar-user-5: var(--magenta-30);
    --color-avatar-user-6: var(--purple-30);
    --color-avatar-user-7: var(--orange-30);
    --color-avatar-user-8: var(--red-30);
    --color-avatar-user-9: var(--yellow-30);
    --color-banner-critical: var(--red-70);
    --color-banner-default: var(--neutral-60);
    --color-banner-info: var(--indigo-70);
    --color-banner-success: var(--green-70);
    --color-banner-warning: var(--yellow-60);
    --color-button-critical-icon-default: var(--neutral-0);
    --color-button-critical-icon-default-ghost: var(--red-60);
    --color-button-critical-icon-disabled: var(--red-90);
    --color-button-critical-surface-default: var(--red-60);
    --color-button-critical-surface-disabled: var(--red-110);
    --color-button-critical-surface-subtle: var(--red-110);
    --color-button-critical-text-default: var(--neutral-0);
    --color-button-critical-text-default-ghost: var(--red-60);
    --color-button-critical-text-disabled: var(--red-90);
    --color-button-ghost-icon-bold: var(--color-icon-bold);
    --color-button-ghost-icon-default: var(--color-icon-default);
    --color-button-ghost-icon-disabled: var(--color-icon-disabled);
    --color-button-ghost-text-default: var(--color-text-body);
    --color-button-ghost-text-disabled: var(--color-text-disabled);
    --color-button-glass-icon-default: var(--white-alpha-80);
    --color-button-glass-icon-disabled: var(--white-alpha-20);
    --color-button-glass-icon-disabled-on-tint: var(--white-alpha-20);
    --color-button-glass-icon-on-tint: var(--white-alpha-90);
    --color-button-glass-icon-subtle: var(--white-alpha-60);
    --color-button-glass-icon-tint: var(--blue-60);
    --color-button-glass-surface-selected: var(--neutral-110);
    --color-button-glass-text-default: var(--white-alpha-80);
    --color-button-glass-text-disabled: var(--white-alpha-20);
    --color-button-glass-text-disabled-on-tint: var(--white-alpha-20);
    --color-button-glass-text-on-tint: var(--white-alpha-90);
    --color-button-glass-text-subtle: var(--white-alpha-60);
    --color-button-glass-text-tint: var(--blue-60);
    --color-button-outline-border-default: var(--white-alpha-7);
    --color-button-outline-border-disabled: var(--white-alpha-5);
    --color-button-outline-icon-bold: var(--color-icon-bold);
    --color-button-outline-icon-default: var(--color-icon-default);
    --color-button-outline-icon-disabled: var(--color-icon-disabled);
    --color-button-outline-surface-default: var(--none);
    --color-button-outline-text-default: var(--color-text-body);
    --color-button-outline-text-disabled: var(--color-text-disabled);
    --color-button-primary-border: var(--white-alpha-15);
    --color-button-primary-icon-default: var(--color-icon-white-bold);
    --color-button-primary-icon-disabled: var(--color-icon-disabled);
    --color-button-primary-surface-default: var(--color-surface-brand-bold-default);
    --color-button-primary-surface-disabled: var(--neutral-alpha-5);
    --color-button-primary-text-default: var(--color-text-white-title);
    --color-button-primary-text-disabled: var(--color-text-disabled);
    --color-button-secondary-icon-bold: var(--color-icon-bold);
    --color-button-secondary-icon-default: var(--color-icon-default);
    --color-button-secondary-icon-disabled: var(--color-icon-disabled);
    --color-button-secondary-surface-default: var(--neutral-alpha-20);
    --color-button-secondary-surface-disabled: var(--neutral-alpha-5);
    --color-button-secondary-text-default: var(--color-text-body);
    --color-button-secondary-text-disabled: var(--color-text-disabled);
    --color-button-text-black-icon-default: var(--color-icon-black-bold);
    --color-button-text-black-icon-disabled: var(--color-icon-black-disabled);
    --color-button-text-black-text-default: var(--color-text-black-bold);
    --color-button-text-black-text-disabled: var(--color-text-black-disabled);
    --color-button-text-critical-icon-default: var(--color-icon-critical-default);
    --color-button-text-critical-icon-disabled: var(--color-icon-disabled);
    --color-button-text-critical-text-default: var(--color-text-critical-default);
    --color-button-text-critical-text-disabled: var(--color-text-disabled);
    --color-button-text-default-icon-default: var(--color-icon-bold);
    --color-button-text-default-icon-disabled: var(--color-icon-disabled);
    --color-button-text-default-icon-subtle: var(--color-icon-default);
    --color-button-text-default-text-default: var(--color-text-title);
    --color-button-text-default-text-disabled: var(--color-text-disabled);
    --color-button-text-default-text-subtle: var(--color-text-body);
    --color-button-text-link-icon-default: var(--color-icon-brand-default);
    --color-button-text-link-icon-disabled: var(--color-icon-disabled);
    --color-button-text-link-text-default: var(--color-text-brand-default);
    --color-button-text-link-text-disabled: var(--color-text-disabled);
    --color-button-text-white-icon-default: var(--color-icon-white-bold);
    --color-button-text-white-icon-disabled: var(--color-icon-white-disabled);
    --color-button-text-white-text-default: var(--color-text-white-title);
    --color-button-text-white-text-disabled: var(--color-text-white-disabled);
    --color-chips-border-default: var(--white-alpha-10);
    --color-chips-border-disabled: var(--white-alpha-5);
    --color-chips-icon-default: var(--color-icon-default);
    --color-chips-icon-disabled: var(--color-icon-disabled);
    --color-chips-icon-selected: var(--color-icon-inverse-bold);
    --color-chips-surface-selected: var(--neutral-0);
    --color-chips-text-default: var(--color-text-body);
    --color-chips-text-disabled: var(--color-text-disabled);
    --color-chips-text-selected: var(--color-text-inverse-bold);
    --color-input-border: var(--white-alpha-3);
    --color-input-surface: var(--white-alpha-3);
    --color-input-border-bold: var(--white-alpha-30);
    --color-input-border-critical: var(--color-border-critical-default);
    --color-input-border-disabled: var(--color-border-disabled);
    --color-input-border-focused: var(--neutral-50);
    --color-input-border-hovered: var(--neutral-alpha-10);
    --color-input-border-selected: var(--color-border-brand-default);
    --color-input-border-selected-light: var(--color-border-brand-subtle);
    --color-input-surface-bold: var(--white-alpha-10);
    --color-input-surface-disabled: var(--color-surface-fg-disabled);
    --color-input-surface-disabled-bold: var(--white-alpha-20);
    --color-input-surface-hovered: var(--white-alpha-7);
    --color-input-surface-selected: var(--white-alpha-10);
    --color-input-surface-selected-brand: var(--color-surface-brand-bold-default);
    --color-segmented-control-background: var(--neutral-alpha-20);
    --color-segmented-control-background-mobile: var(--white-alpha-10);
    --color-segmented-control-foreground-hover: var(--neutral-alpha-30);
    --color-segmented-control-foreground-selected: var(--neutral-alpha-50);
  }
}
