@import "./index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Size */
	:root {
		/* default */
		/* number */
		--radius-xs: var(--size-4);
		--radius-sm: var(--size-8);
		--radius-md: var(--size-12);
		--radius-lg: var(--size-16);
		--radius-xl: var(--size-20);
		--radius-2xl: var(--size-24);
		--radius-group: var(--size-26);
		--radius-modal: var(--size-26);
		--radius-3xl: var(--size-32);
		--radius-pill: var(--size-1000);
		--spacing-gap-2: var(--size-2);
		--spacing-gap-4: var(--size-4);
		--spacing-gap-6: var(--size-6);
		--spacing-gap-8: var(--size-8);
		--spacing-gap-layout: var(--size-8);
		--spacing-gap-10: var(--size-10);
		--spacing-gap-12: var(--size-12);
		--spacing-gap-16: var(--size-16);
		--spacing-gap-20: var(--size-20);
		--spacing-gap-24: var(--size-24);
		--spacing-gap-28: var(--size-28);
		--spacing-gap-32: var(--size-32);
		--spacing-gap-36: var(--size-36);
		--spacing-gap-40: var(--size-40);
		--spacing-gap-44: var(--size-44);
		--spacing-gap-48: var(--size-48);
		--spacing-gap-52: var(--size-52);
		--spacing-gap-56: var(--size-56);
		--spacing-sizing-2: var(--size-2);
		--spacing-sizing-4: var(--size-4);
		--spacing-sizing-6: var(--size-6);
		--spacing-sizing-8: var(--size-8);
		--spacing-sizing-10: var(--size-10);
		--spacing-sizing-12: var(--size-12);
		--spacing-sizing-16: var(--size-16);
		--spacing-sizing-20: var(--size-20);
		--spacing-sizing-24: var(--size-24);
		--spacing-sizing-28: var(--size-28);
		--spacing-sizing-32: var(--size-32);
		--spacing-sizing-36: var(--size-36);
		--spacing-sizing-40: var(--size-40);
		--spacing-sizing-44: var(--size-44);
		--spacing-sizing-48: var(--size-48);
		--spacing-sizing-52: var(--size-52);
		--spacing-sizing-56: var(--size-56);
		--spacing-sizing-64: var(--size-64);
		--spacing-sizing-72: var(--size-72);
		--spacing-sizing-80: var(--size-80);
		--spacing-sizing-88: var(--size-88);
		--spacing-sizing-96: var(--size-96);
		--spacing-sizing-104: var(--size-104);
		--spacing-sizing-112: var(--size-112);
	}
	/* Theme */
	@media (prefers-color-scheme: light) {
		:root {
			/* Light */
			/* color */
			--color-border-bold: var(--black-alpha-10);
			--color-border-bolder: var(--black-alpha-15);
			--color-border-default: var(--black-alpha-6);
			--color-border-disabled: var(--black-alpha-2);
			--color-border-hidden: #ffffff00;
			--color-border-inverse: var(--neutral-100);
			--color-border-selected: var(--blue-60);
			--color-border-white: var(--neutral-0);
			--color-border-accent-blue-bold: var(--blue-100);
			--color-border-accent-blue-default: var(--blue-70);
			--color-border-accent-blue-subtle: var(--blue-40);
			--color-border-accent-blue-subtler: var(--blue-30);
			--color-border-accent-cyan-bold: var(--cyan-100);
			--color-border-accent-cyan-default: var(--cyan-70);
			--color-border-accent-cyan-subtle: var(--cyan-40);
			--color-border-accent-cyan-subtler: var(--cyan-30);
			--color-border-accent-green-bold: var(--green-100);
			--color-border-accent-green-default: var(--green-70);
			--color-border-accent-green-subtle: var(--green-40);
			--color-border-accent-green-subtler: var(--green-30);
			--color-border-accent-grey-bold: var(--neutral-40);
			--color-border-accent-grey-bolder: var(--neutral-50);
			--color-border-accent-grey-default: var(--neutral-20);
			--color-border-accent-grey-strong: var(--neutral-30);
			--color-border-accent-indigo-bold: var(--indigo-100);
			--color-border-accent-indigo-default: var(--indigo-70);
			--color-border-accent-indigo-subtle: var(--indigo-40);
			--color-border-accent-indigo-subtler: var(--indigo-30);
			--color-border-accent-lime-bold: var(--lime-100);
			--color-border-accent-lime-default: var(--lime-70);
			--color-border-accent-lime-subtle: var(--lime-40);
			--color-border-accent-lime-subtler: var(--lime-30);
			--color-border-accent-magenta-bold: var(--magenta-100);
			--color-border-accent-magenta-default: var(--magenta-70);
			--color-border-accent-magenta-subtle: var(--magenta-40);
			--color-border-accent-magenta-subtler: var(--magenta-30);
			--color-border-accent-orange-bold: var(--orange-100);
			--color-border-accent-orange-default: var(--orange-70);
			--color-border-accent-orange-subtle: var(--orange-40);
			--color-border-accent-orange-subtler: var(--orange-30);
			--color-border-accent-purple-bold: var(--purple-100);
			--color-border-accent-purple-default: var(--purple-70);
			--color-border-accent-purple-subtle: var(--purple-40);
			--color-border-accent-purple-subtler: var(--purple-30);
			--color-border-accent-red-bold: var(--red-100);
			--color-border-accent-red-default: var(--red-70);
			--color-border-accent-red-subtle: var(--red-40);
			--color-border-accent-red-subtler: var(--red-30);
			--color-border-accent-yellow-bold: var(--yellow-100);
			--color-border-accent-yellow-default: var(--yellow-70);
			--color-border-accent-yellow-subtle: var(--yellow-40);
			--color-border-accent-yellow-subtler: var(--yellow-30);
			--color-border-brand-bold: var(--blue-100);
			--color-border-brand-default: var(--blue-60);
			--color-border-brand-subtle: var(--blue-30);
			--color-border-critical-bold: var(--red-90);
			--color-border-critical-bolder: var(--red-100);
			--color-border-critical-default: var(--red-50);
			--color-border-critical-subtler: var(--red-30);
			--color-border-critical-subtlr: var(--red-40);
			--color-border-info-bold: var(--indigo-90);
			--color-border-info-bolder: var(--indigo-100);
			--color-border-info-default: var(--indigo-50);
			--color-border-info-subtle: var(--indigo-40);
			--color-border-info-subtler: var(--indigo-30);
			--color-border-inverse-bold: var(--white-alpha-10);
			--color-border-inverse-bolder: var(--white-alpha-15);
			--color-border-inverse-boldest: var(--white-alpha-20);
			--color-border-inverse-default: var(--white-alpha-5);
			--color-border-success-bold: var(--green-90);
			--color-border-success-bolder: var(--green-100);
			--color-border-success-default: var(--green-50);
			--color-border-success-subtle: var(--green-40);
			--color-border-success-subtler: var(--green-30);
			--color-border-warning-bold: var(--yellow-90);
			--color-border-warning-bolder: var(--yellow-100);
			--color-border-warning-default: var(--yellow-50);
			--color-border-warning-subtle: var(--yellow-40);
			--color-border-warning-subtler: var(--yellow-30);
			--color-border-white-bold: var(--white-alpha-10);
			--color-border-white-bolder: var(--white-alpha-15);
			--color-border-white-boldest: var(--white-alpha-20);
			--color-border-white-default: var(--white-alpha-5);
			--color-icon-bold: var(--neutral-100);
			--color-icon-default: var(--black-alpha-60);
			--color-icon-disabled: var(--black-alpha-20);
			--color-icon-subtle: var(--black-alpha-40);
			--color-icon-accent-blue-bold: var(--blue-90);
			--color-icon-accent-blue-default: var(--blue-70);
			--color-icon-accent-blue-subtle: var(--blue-50);
			--color-icon-accent-blue-subtler: var(--blue-40);
			--color-icon-accent-cyan-bold: var(--cyan-90);
			--color-icon-accent-cyan-default: var(--cyan-70);
			--color-icon-accent-cyan-subtle: var(--cyan-50);
			--color-icon-accent-cyan-subtler: var(--cyan-40);
			--color-icon-accent-green-bold: var(--green-90);
			--color-icon-accent-green-default: var(--green-70);
			--color-icon-accent-green-subtle: var(--green-50);
			--color-icon-accent-green-subtler: var(--green-40);
			--color-icon-accent-indigo-bold: var(--indigo-90);
			--color-icon-accent-indigo-default: var(--indigo-70);
			--color-icon-accent-indigo-subtle: var(--indigo-50);
			--color-icon-accent-indigo-subtler: var(--indigo-40);
			--color-icon-accent-lime-bold: var(--lime-90);
			--color-icon-accent-lime-default: var(--lime-70);
			--color-icon-accent-lime-subtle: var(--lime-50);
			--color-icon-accent-lime-subtler: var(--lime-40);
			--color-icon-accent-magenta-bold: var(--magenta-90);
			--color-icon-accent-magenta-default: var(--magenta-70);
			--color-icon-accent-magenta-subtle: var(--magenta-50);
			--color-icon-accent-magenta-subtler: var(--magenta-40);
			--color-icon-accent-orange-bold: var(--orange-90);
			--color-icon-accent-orange-default: var(--orange-70);
			--color-icon-accent-orange-subtle: var(--orange-50);
			--color-icon-accent-orange-subtler: var(--orange-40);
			--color-icon-accent-purple-bold: var(--purple-90);
			--color-icon-accent-purple-default: var(--purple-70);
			--color-icon-accent-purple-subtle: var(--purple-50);
			--color-icon-accent-purple-subtler: var(--purple-40);
			--color-icon-accent-red-bold: var(--red-90);
			--color-icon-accent-red-default: var(--red-70);
			--color-icon-accent-red-subtle: var(--red-50);
			--color-icon-accent-red-subtler: var(--red-40);
			--color-icon-accent-yellow-bold: var(--yellow-90);
			--color-icon-accent-yellow-default: var(--yellow-70);
			--color-icon-accent-yellow-subtle: var(--yellow-50);
			--color-icon-accent-yellow-subtler: var(--yellow-40);
			--color-icon-black-bold: var(--neutral-100);
			--color-icon-black-default: var(--black-alpha-60);
			--color-icon-black-disabled: var(--black-alpha-20);
			--color-icon-black-subtle: var(--black-alpha-40);
			--color-icon-brand-bold: var(--blue-90);
			--color-icon-brand-default: var(--blue-60);
			--color-icon-brand-subtle: var(--blue-50);
			--color-icon-critical-bold: var(--red-90);
			--color-icon-critical-default: var(--red-70);
			--color-icon-critical-subtle: var(--red-50);
			--color-icon-info-bold: var(--indigo-90);
			--color-icon-info-default: var(--indigo-70);
			--color-icon-info-subtle: var(--indigo-50);
			--color-icon-inverse-bold: var(--neutral-0);
			--color-icon-inverse-default: var(--white-alpha-60);
			--color-icon-inverse-disabled: var(--white-alpha-20);
			--color-icon-inverse-subtle: var(--white-alpha-40);
			--color-icon-success-bold: var(--green-90);
			--color-icon-success-default: var(--green-70);
			--color-icon-success-subtle: var(--green-50);
			--color-icon-warning-bold: var(--yellow-90);
			--color-icon-warning-default: var(--yellow-70);
			--color-icon-warning-subtle: var(--yellow-50);
			--color-icon-white-bold: var(--neutral-0);
			--color-icon-white-default: var(--white-alpha-60);
			--color-icon-white-disabled: var(--white-alpha-20);
			--color-icon-white-subtle: var(--white-alpha-40);
			--color-surface-accent-blue-bold: var(--blue-100);
			--color-surface-accent-blue-bolder: var(--blue-110);
			--color-surface-accent-blue-default: var(--blue-70);
			--color-surface-accent-blue-mild: var(--blue-40);
			--color-surface-accent-blue-strong: var(--blue-80);
			--color-surface-accent-blue-subtle: var(--blue-30);
			--color-surface-accent-blue-subtler: var(--blue-20);
			--color-surface-accent-cyan-bold: var(--cyan-100);
			--color-surface-accent-cyan-bolder: var(--cyan-110);
			--color-surface-accent-cyan-default: var(--cyan-70);
			--color-surface-accent-cyan-mild: var(--cyan-40);
			--color-surface-accent-cyan-strong: var(--cyan-80);
			--color-surface-accent-cyan-subtle: var(--cyan-30);
			--color-surface-accent-cyan-subtler: var(--cyan-20);
			--color-surface-accent-green-bold: var(--green-100);
			--color-surface-accent-green-bolder: var(--green-110);
			--color-surface-accent-green-default: var(--green-70);
			--color-surface-accent-green-mild: var(--green-40);
			--color-surface-accent-green-strong: var(--green-80);
			--color-surface-accent-green-subtle: var(--green-30);
			--color-surface-accent-green-subtler: var(--green-20);
			--color-surface-accent-grey-bold: var(--neutral-70);
			--color-surface-accent-grey-bolder: var(--neutral-80);
			--color-surface-accent-grey-default: var(--neutral-30);
			--color-surface-accent-grey-mild: var(--neutral-20);
			--color-surface-accent-grey-strong: var(--neutral-60);
			--color-surface-accent-grey-subtle: var(--neutral-10);
			--color-surface-accent-grey-subtler: var(--neutral-5);
			--color-surface-accent-indigo-bold: var(--indigo-100);
			--color-surface-accent-indigo-bolder: var(--indigo-110);
			--color-surface-accent-indigo-default: var(--indigo-70);
			--color-surface-accent-indigo-mild: var(--indigo-40);
			--color-surface-accent-indigo-strong: var(--indigo-80);
			--color-surface-accent-indigo-subtle: var(--indigo-30);
			--color-surface-accent-indigo-subtler: var(--indigo-20);
			--color-surface-accent-lime-bold: var(--lime-100);
			--color-surface-accent-lime-bolder: var(--lime-110);
			--color-surface-accent-lime-default: var(--lime-70);
			--color-surface-accent-lime-mild: var(--lime-40);
			--color-surface-accent-lime-strong: var(--lime-80);
			--color-surface-accent-lime-subtle: var(--lime-30);
			--color-surface-accent-lime-subtler: var(--lime-20);
			--color-surface-accent-magenta-bold: var(--magenta-100);
			--color-surface-accent-magenta-bolder: var(--magenta-110);
			--color-surface-accent-magenta-default: var(--magenta-70);
			--color-surface-accent-magenta-mild: var(--magenta-40);
			--color-surface-accent-magenta-strong: var(--magenta-80);
			--color-surface-accent-magenta-subtle: var(--magenta-30);
			--color-surface-accent-magenta-subtler: var(--magenta-20);
			--color-surface-accent-orange-bold: var(--orange-100);
			--color-surface-accent-orange-bolder: var(--orange-110);
			--color-surface-accent-orange-default: var(--orange-70);
			--color-surface-accent-orange-mild: var(--orange-40);
			--color-surface-accent-orange-strong: var(--orange-80);
			--color-surface-accent-orange-subtle: var(--orange-30);
			--color-surface-accent-orange-subtler: var(--orange-20);
			--color-surface-accent-purple-bold: var(--purple-100);
			--color-surface-accent-purple-bolder: var(--purple-110);
			--color-surface-accent-purple-default: var(--purple-70);
			--color-surface-accent-purple-mild: var(--purple-40);
			--color-surface-accent-purple-strong: var(--purple-80);
			--color-surface-accent-purple-subtle: var(--purple-30);
			--color-surface-accent-purple-subtler: var(--purple-20);
			--color-surface-accent-red-bold: var(--red-100);
			--color-surface-accent-red-bolder: var(--red-110);
			--color-surface-accent-red-default: var(--red-70);
			--color-surface-accent-red-mild: var(--red-40);
			--color-surface-accent-red-strong: var(--red-80);
			--color-surface-accent-red-subtle: var(--red-30);
			--color-surface-accent-red-subtler: var(--red-20);
			--color-surface-accent-yellow-bold: var(--yellow-100);
			--color-surface-accent-yellow-bolder: var(--yellow-110);
			--color-surface-accent-yellow-default: var(--yellow-70);
			--color-surface-accent-yellow-mild: var(--yellow-40);
			--color-surface-accent-yellow-strong: var(--yellow-80);
			--color-surface-accent-yellow-subtle: var(--yellow-30);
			--color-surface-accent-yellow-subtler: var(--yellow-20);
			--color-surface-bg-primary: var(--neutral-0);
			--color-surface-bg-secondary: var(--neutral-10);
			--color-surface-bg-tertiary: var(--special-bg-light);
			--color-surface-brand-default: var(--blue-20);
			--color-surface-brand-hovered: var(--blue-30);
			--color-surface-brand-pressed: var(--blue-40);
			--color-surface-brand-bold-default: var(--blue-60);
			--color-surface-brand-bold-hovered: var(--blue-70);
			--color-surface-brand-bold-pressed: var(--blue-80);
			--color-surface-critical-bold: var(--red-80);
			--color-surface-critical-bolder: var(--red-100);
			--color-surface-critical-default: var(--red-40);
			--color-surface-critical-subtle: var(--red-30);
			--color-surface-critical-subtler: var(--red-20);
			--color-surface-fg-disabled: var(--black-alpha-2);
			--color-surface-fg-inverse: var(--neutral-90);
			--color-surface-fg-primary: var(--neutral-0);
			--color-surface-fg-secondary: var(--neutral-10);
			--color-surface-fg-selected: var(--black-alpha-4);
			--color-surface-fg-tertiary: var(--special-bg-light);
			--color-surface-fg-alpha-default: var(--black-alpha-4);
			--color-surface-fg-alpha-pressed: var(--black-alpha-6);
			--color-surface-fg-alpha-bold-default: var(--black-alpha-10);
			--color-surface-fg-alpha-medium-default: var(--black-alpha-6);
			--color-surface-fg-alpha-medium-pressed: var(--black-alpha-10);
			--color-surface-group-primary: var(--neutral-0);
			--color-surface-group-secondary: var(--neutral-5);
			--color-surface-group-tertiary: var(--neutral-10);
			--color-surface-info-bold: var(--indigo-80);
			--color-surface-info-bolder: var(--indigo-100);
			--color-surface-info-default: var(--indigo-40);
			--color-surface-info-subtle: var(--indigo-30);
			--color-surface-info-subtler: var(--indigo-20);
			--color-surface-overlay-activity: var(--black-alpha-20);
			--color-surface-overlay-default: var(--black-alpha-20);
			--color-surface-success-bold: var(--green-80);
			--color-surface-success-bolder: var(--green-100);
			--color-surface-success-default: var(--green-40);
			--color-surface-success-subtle: var(--green-30);
			--color-surface-success-subtler: var(--green-20);
			--color-surface-warning-bold: var(--yellow-80);
			--color-surface-warning-bolder: var(--yellow-100);
			--color-surface-warning-default: var(--yellow-40);
			--color-surface-warning-subtle: var(--yellow-30);
			--color-surface-warning-subtler: var(--yellow-20);
			--color-text-body: var(--black-alpha-60);
			--color-text-caption: var(--black-alpha-40);
			--color-text-disabled: var(--black-alpha-20);
			--color-text-title: var(--neutral-100);
			--color-text-accent-blue-bold: var(--blue-90);
			--color-text-accent-blue-default: var(--blue-70);
			--color-text-accent-blue-subtle: var(--blue-50);
			--color-text-accent-cyan-bold: var(--cyan-90);
			--color-text-accent-cyan-default: var(--cyan-70);
			--color-text-accent-cyan-subtle: var(--cyan-50);
			--color-text-accent-green-bold: var(--green-90);
			--color-text-accent-green-default: var(--green-70);
			--color-text-accent-green-subtle: var(--green-50);
			--color-text-accent-indigo-bold: var(--indigo-90);
			--color-text-accent-indigo-default: var(--indigo-70);
			--color-text-accent-indigo-subtle: var(--indigo-50);
			--color-text-accent-lime-bold: var(--lime-90);
			--color-text-accent-lime-default: var(--lime-70);
			--color-text-accent-lime-subtle: var(--lime-50);
			--color-text-accent-magenta-bold: var(--magenta-90);
			--color-text-accent-magenta-default: var(--magenta-70);
			--color-text-accent-magenta-subtle: var(--magenta-50);
			--color-text-accent-orange-bold: var(--orange-90);
			--color-text-accent-orange-default: var(--orange-70);
			--color-text-accent-orange-subtle: var(--orange-50);
			--color-text-accent-purple-bold: var(--purple-90);
			--color-text-accent-purple-default: var(--purple-70);
			--color-text-accent-purple-subtle: var(--purple-50);
			--color-text-accent-red-bold: var(--red-90);
			--color-text-accent-red-default: var(--red-70);
			--color-text-accent-red-subtle: var(--red-50);
			--color-text-accent-yellow-bold: var(--yellow-90);
			--color-text-accent-yellow-default: var(--yellow-70);
			--color-text-accent-yellow-subtle: var(--yellow-50);
			--color-text-black-bold: var(--neutral-100);
			--color-text-black-default: var(--black-alpha-60);
			--color-text-black-disabled: var(--black-alpha-20);
			--color-text-black-subtle: var(--black-alpha-40);
			--color-text-brand-bold: var(--blue-90);
			--color-text-brand-default: var(--blue-60);
			--color-text-brand-subtle: var(--blue-50);
			--color-text-critical-bold: var(--red-90);
			--color-text-critical-default: var(--red-70);
			--color-text-critical-subtle: var(--red-50);
			--color-text-info-bold: var(--indigo-90);
			--color-text-info-default: var(--indigo-70);
			--color-text-info-subtle: var(--indigo-50);
			--color-text-inverse-bold: var(--neutral-0);
			--color-text-inverse-default: var(--white-alpha-60);
			--color-text-inverse-disabled: var(--white-alpha-20);
			--color-text-inverse-subtle: var(--white-alpha-40);
			--color-text-success-bold: var(--green-90);
			--color-text-success-default: var(--green-70);
			--color-text-success-subtle: var(--green-50);
			--color-text-warning-bold: var(--yellow-90);
			--color-text-warning-default: var(--yellow-70);
			--color-text-warning-subtle: var(--yellow-50);
			--color-text-white-body: var(--white-alpha-60);
			--color-text-white-caption: var(--white-alpha-40);
			--color-text-white-disabled: var(--white-alpha-20);
			--color-text-white-title: var(--neutral-0);
			/* Component Theme */

			/* Light */
			/* color */
			--color-avatar-group: var(--orange-70);
			--color-avatar-organization: var(--neutral-90);
			--color-avatar-project: var(--blue-70);
			--color-avatar-user-1: var(--blue-30);
			--color-avatar-user-10: var(--green-30);
			--color-avatar-user-11: var(--neutral-30);
			--color-avatar-user-2: var(--indigo-30);
			--color-avatar-user-3: var(--lime-30);
			--color-avatar-user-4: var(--cyan-30);
			--color-avatar-user-5: var(--magenta-30);
			--color-avatar-user-6: var(--purple-30);
			--color-avatar-user-7: var(--orange-30);
			--color-avatar-user-8: var(--red-30);
			--color-avatar-user-9: var(--yellow-30);
			--color-banner-critical: var(--red-70);
			--color-banner-default: var(--neutral-60);
			--color-banner-info: var(--indigo-70);
			--color-banner-success: var(--green-70);
			--color-banner-warning: var(--yellow-60);
			--color-button-critical-icon-default: var(--neutral-0);
			--color-button-critical-icon-default-ghost: var(--red-60);
			--color-button-critical-icon-disabled: var(--red-40);
			--color-button-critical-surface-default: var(--red-60);
			--color-button-critical-surface-disabled: var(--red-20);
			--color-button-critical-surface-subtle: var(--red-20);
			--color-button-critical-text-default: var(--neutral-0);
			--color-button-critical-text-default-ghost: var(--red-60);
			--color-button-critical-text-disabled: var(--red-40);
			--color-button-ghost-icon-bold: var(--color-icon-bold);
			--color-button-ghost-icon-default: var(--color-icon-default);
			--color-button-ghost-icon-disabled: var(--color-icon-disabled);
			--color-button-ghost-text-default: var(--color-text-body);
			--color-button-ghost-text-disabled: var(--color-text-disabled);
			--color-button-glass-icon-default: var(--black-alpha-80);
			--color-button-glass-icon-disabled: var(--black-alpha-20);
			--color-button-glass-icon-disabled-on-tint: var(--black-alpha-20);
			--color-button-glass-icon-on-tint: var(--white-alpha-90);
			--color-button-glass-icon-subtle: var(--black-alpha-60);
			--color-button-glass-icon-tint: var(--blue-60);
			--color-button-glass-surface-selected: var(--neutral-20);
			--color-button-glass-text-default: var(--black-alpha-80);
			--color-button-glass-text-disabled: var(--black-alpha-20);
			--color-button-glass-text-disabled-on-tint: var(--black-alpha-20);
			--color-button-glass-text-on-tint: var(--white-alpha-90);
			--color-button-glass-text-subtle: var(--black-alpha-60);
			--color-button-glass-text-tint: var(--blue-60);
			--color-button-outline-border-default: var(--black-alpha-6);
			--color-button-outline-border-disabled: var(--black-alpha-2);
			--color-button-outline-icon-bold: var(--color-icon-bold);
			--color-button-outline-icon-default: var(--color-icon-default);
			--color-button-outline-icon-disabled: var(--color-icon-disabled);
			--color-button-outline-surface-default: var(--none);
			--color-button-outline-text-default: var(--color-text-body);
			--color-button-outline-text-disabled: var(--color-text-disabled);
			--color-button-primary-border: var(--black-alpha-10);
			--color-button-primary-icon-default: var(--color-icon-white-bold);
			--color-button-primary-icon-disabled: var(--color-icon-disabled);
			--color-button-primary-surface-default: var(
				--color-surface-brand-bold-default
			);
			--color-button-primary-surface-disabled: var(--neutral-alpha-30);
			--color-button-primary-text-default: var(--color-text-white-title);
			--color-button-primary-text-disabled: var(--color-text-disabled);
			--color-button-secondary-icon-bold: var(--color-icon-bold);
			--color-button-secondary-icon-default: var(--color-icon-default);
			--color-button-secondary-icon-disabled: var(--color-icon-disabled);
			--color-button-secondary-surface-default: var(--neutral-alpha-60);
			--color-button-secondary-surface-disabled: var(--neutral-alpha-30);
			--color-button-secondary-text-default: var(--color-text-body);
			--color-button-secondary-text-disabled: var(--color-text-disabled);
			--color-button-text-black-icon-default: var(--color-icon-black-bold);
			--color-button-text-black-icon-disabled: var(--color-icon-black-disabled);
			--color-button-text-black-text-default: var(--color-text-black-bold);
			--color-button-text-black-text-disabled: var(--color-text-black-disabled);
			--color-button-text-critical-icon-default: var(
				--color-icon-critical-default
			);
			--color-button-text-critical-icon-disabled: var(--color-icon-disabled);
			--color-button-text-critical-text-default: var(
				--color-text-critical-default
			);
			--color-button-text-critical-text-disabled: var(--color-text-disabled);
			--color-button-text-default-icon-default: var(--color-icon-bold);
			--color-button-text-default-icon-disabled: var(--color-icon-disabled);
			--color-button-text-default-icon-subtle: var(--color-icon-default);
			--color-button-text-default-text-default: var(--color-text-title);
			--color-button-text-default-text-disabled: var(--color-text-disabled);
			--color-button-text-default-text-subtle: var(--color-text-body);
			--color-button-text-link-icon-default: var(--color-icon-brand-default);
			--color-button-text-link-icon-disabled: var(--color-icon-disabled);
			--color-button-text-link-text-default: var(--color-text-brand-default);
			--color-button-text-link-text-disabled: var(--color-text-disabled);
			--color-button-text-white-icon-default: var(--color-icon-white-bold);
			--color-button-text-white-icon-disabled: var(--color-icon-white-disabled);
			--color-button-text-white-text-default: var(--color-text-white-title);
			--color-button-text-white-text-disabled: var(--color-text-white-disabled);
			--color-chips-border-default: var(--black-alpha-10);
			--color-chips-border-disabled: var(--black-alpha-2);
			--color-chips-icon-default: var(--color-icon-default);
			--color-chips-icon-disabled: var(--color-icon-disabled);
			--color-chips-icon-selected: var(--color-icon-inverse-bold);
			--color-chips-surface-selected: var(--neutral-80);
			--color-chips-text-default: var(--color-text-body);
			--color-chips-text-disabled: var(--color-text-disabled);
			--color-chips-text-selected: var(--color-text-inverse-bold);
			--color-input-border: var(--black-alpha-6);
			--color-input-surface: var(--neutral-0);
			--color-input-border-bold: var(--black-alpha-20);
			--color-input-border-critical: var(--color-border-critical-default);
			--color-input-border-disabled: var(--color-border-disabled);
			--color-input-border-focused: var(--neutral-50);
			--color-input-border-hovered: var(--neutral-alpha-100);
			--color-input-border-selected: var(--color-border-brand-default);
			--color-input-border-selected-light: var(--color-border-brand-subtle);
			--color-input-surface-bold: var(--black-alpha-10);
			--color-input-surface-disabled: var(--color-surface-fg-disabled);
			--color-input-surface-disabled-bold: var(--black-alpha-15);
			--color-input-surface-hovered: var(--black-alpha-4);
			--color-input-surface-selected: var(--black-alpha-6);
			--color-input-surface-selected-brand: var(
				--color-surface-brand-bold-default
			);
			--color-segmented-control-background: var(--neutral-alpha-40);
			--color-segmented-control-background-mobile: var(--black-alpha-6);
			--color-segmented-control-foreground-hover: var(--neutral-alpha-60);
			--color-segmented-control-foreground-selected: var(--neutral-0);
		}
	}

	@media (prefers-color-scheme: dark) {
		/* Theme */
		:root {
			/* Dark */
			/* color */
			--color-border-bold: var(--white-alpha-7);
			--color-border-bolder: var(--white-alpha-10);
			--color-border-default: var(--white-alpha-5);
			--color-border-disabled: var(--white-alpha-5);
			--color-border-hidden: #00000000;
			--color-border-inverse: var(--neutral-0);
			--color-border-selected: var(--blue-60);
			--color-border-white: var(--neutral-0);
			--color-border-accent-blue-bold: var(--blue-40);
			--color-border-accent-blue-default: var(--blue-60);
			--color-border-accent-blue-subtle: var(--blue-80);
			--color-border-accent-blue-subtler: var(--blue-100);
			--color-border-accent-cyan-bold: var(--cyan-40);
			--color-border-accent-cyan-default: var(--cyan-60);
			--color-border-accent-cyan-subtle: var(--cyan-80);
			--color-border-accent-cyan-subtler: var(--cyan-100);
			--color-border-accent-green-bold: var(--green-40);
			--color-border-accent-green-default: var(--green-60);
			--color-border-accent-green-subtle: var(--green-80);
			--color-border-accent-green-subtler: var(--green-100);
			--color-border-accent-grey-bold: var(--moon-60);
			--color-border-accent-grey-bolder: var(--moon-50);
			--color-border-accent-grey-default: var(--moon-80);
			--color-border-accent-grey-strong: var(--moon-70);
			--color-border-accent-indigo-bold: var(--indigo-40);
			--color-border-accent-indigo-default: var(--indigo-60);
			--color-border-accent-indigo-subtle: var(--indigo-80);
			--color-border-accent-indigo-subtler: var(--indigo-100);
			--color-border-accent-lime-bold: var(--lime-40);
			--color-border-accent-lime-default: var(--lime-60);
			--color-border-accent-lime-subtle: var(--lime-80);
			--color-border-accent-lime-subtler: var(--lime-100);
			--color-border-accent-magenta-bold: var(--magenta-40);
			--color-border-accent-magenta-default: var(--magenta-60);
			--color-border-accent-magenta-subtle: var(--magenta-80);
			--color-border-accent-magenta-subtler: var(--magenta-100);
			--color-border-accent-orange-bold: var(--orange-40);
			--color-border-accent-orange-default: var(--orange-60);
			--color-border-accent-orange-subtle: var(--orange-80);
			--color-border-accent-orange-subtler: var(--orange-100);
			--color-border-accent-purple-bold: var(--purple-40);
			--color-border-accent-purple-default: var(--purple-60);
			--color-border-accent-purple-subtle: var(--purple-80);
			--color-border-accent-purple-subtler: var(--purple-100);
			--color-border-accent-red-bold: var(--red-40);
			--color-border-accent-red-default: var(--red-60);
			--color-border-accent-red-subtle: var(--red-80);
			--color-border-accent-red-subtler: var(--red-100);
			--color-border-accent-yellow-bold: var(--yellow-40);
			--color-border-accent-yellow-default: var(--yellow-60);
			--color-border-accent-yellow-subtle: var(--yellow-80);
			--color-border-accent-yellow-subtler: var(--yellow-100);
			--color-border-brand-bold: var(--blue-40);
			--color-border-brand-default: var(--blue-60);
			--color-border-brand-subtle: var(--blue-90);
			--color-border-critical-bold: var(--red-40);
			--color-border-critical-bolder: var(--red-30);
			--color-border-critical-default: var(--red-80);
			--color-border-critical-subtler: var(--red-100);
			--color-border-critical-subtlr: var(--red-90);
			--color-border-info-bold: var(--indigo-40);
			--color-border-info-bolder: var(--indigo-30);
			--color-border-info-default: var(--indigo-80);
			--color-border-info-subtle: var(--indigo-90);
			--color-border-info-subtler: var(--indigo-100);
			--color-border-inverse-bold: var(--black-alpha-6);
			--color-border-inverse-bolder: var(--black-alpha-10);
			--color-border-inverse-boldest: var(--black-alpha-15);
			--color-border-inverse-default: var(--black-alpha-4);
			--color-border-success-bold: var(--green-40);
			--color-border-success-bolder: var(--green-30);
			--color-border-success-default: var(--green-80);
			--color-border-success-subtle: var(--green-90);
			--color-border-success-subtler: var(--green-100);
			--color-border-warning-bold: var(--yellow-40);
			--color-border-warning-bolder: var(--yellow-30);
			--color-border-warning-default: var(--yellow-80);
			--color-border-warning-subtle: var(--yellow-90);
			--color-border-warning-subtler: var(--yellow-100);
			--color-border-white-bold: var(--white-alpha-10);
			--color-border-white-bolder: var(--white-alpha-15);
			--color-border-white-boldest: var(--white-alpha-20);
			--color-border-white-default: var(--white-alpha-5);
			--color-icon-bold: var(--neutral-0);
			--color-icon-default: var(--white-alpha-60);
			--color-icon-disabled: var(--white-alpha-20);
			--color-icon-subtle: var(--white-alpha-40);
			--color-icon-accent-blue-bold: var(--blue-40);
			--color-icon-accent-blue-default: var(--blue-60);
			--color-icon-accent-blue-subtle: var(--blue-80);
			--color-icon-accent-blue-subtler: var(--blue-100);
			--color-icon-accent-cyan-bold: var(--cyan-40);
			--color-icon-accent-cyan-default: var(--cyan-60);
			--color-icon-accent-cyan-subtle: var(--cyan-80);
			--color-icon-accent-cyan-subtler: var(--cyan-100);
			--color-icon-accent-green-bold: var(--green-40);
			--color-icon-accent-green-default: var(--green-60);
			--color-icon-accent-green-subtle: var(--green-80);
			--color-icon-accent-green-subtler: var(--green-100);
			--color-icon-accent-indigo-bold: var(--indigo-40);
			--color-icon-accent-indigo-default: var(--indigo-60);
			--color-icon-accent-indigo-subtle: var(--indigo-80);
			--color-icon-accent-indigo-subtler: var(--indigo-100);
			--color-icon-accent-lime-bold: var(--lime-40);
			--color-icon-accent-lime-default: var(--lime-60);
			--color-icon-accent-lime-subtle: var(--lime-80);
			--color-icon-accent-lime-subtler: var(--lime-100);
			--color-icon-accent-magenta-bold: var(--magenta-40);
			--color-icon-accent-magenta-default: var(--magenta-60);
			--color-icon-accent-magenta-subtle: var(--magenta-80);
			--color-icon-accent-magenta-subtler: var(--magenta-100);
			--color-icon-accent-orange-bold: var(--orange-40);
			--color-icon-accent-orange-default: var(--orange-60);
			--color-icon-accent-orange-subtle: var(--orange-80);
			--color-icon-accent-orange-subtler: var(--orange-100);
			--color-icon-accent-purple-bold: var(--purple-40);
			--color-icon-accent-purple-default: var(--purple-60);
			--color-icon-accent-purple-subtle: var(--purple-80);
			--color-icon-accent-purple-subtler: var(--purple-100);
			--color-icon-accent-red-bold: var(--red-40);
			--color-icon-accent-red-default: var(--red-60);
			--color-icon-accent-red-subtle: var(--red-80);
			--color-icon-accent-red-subtler: var(--red-100);
			--color-icon-accent-yellow-bold: var(--yellow-40);
			--color-icon-accent-yellow-default: var(--yellow-60);
			--color-icon-accent-yellow-subtle: var(--yellow-80);
			--color-icon-accent-yellow-subtler: var(--yellow-100);
			--color-icon-black-bold: var(--neutral-100);
			--color-icon-black-default: var(--black-alpha-60);
			--color-icon-black-disabled: var(--black-alpha-20);
			--color-icon-black-subtle: var(--black-alpha-40);
			--color-icon-brand-bold: var(--blue-40);
			--color-icon-brand-default: var(--blue-60);
			--color-icon-brand-subtle: var(--blue-80);
			--color-icon-critical-bold: var(--red-40);
			--color-icon-critical-default: var(--red-60);
			--color-icon-critical-subtle: var(--red-80);
			--color-icon-info-bold: var(--indigo-40);
			--color-icon-info-default: var(--indigo-60);
			--color-icon-info-subtle: var(--indigo-80);
			--color-icon-inverse-bold: var(--neutral-100);
			--color-icon-inverse-default: var(--black-alpha-60);
			--color-icon-inverse-disabled: var(--black-alpha-20);
			--color-icon-inverse-subtle: var(--black-alpha-40);
			--color-icon-success-bold: var(--green-40);
			--color-icon-success-default: var(--green-60);
			--color-icon-success-subtle: var(--green-80);
			--color-icon-warning-bold: var(--yellow-40);
			--color-icon-warning-default: var(--yellow-60);
			--color-icon-warning-subtle: var(--yellow-80);
			--color-icon-white-bold: var(--neutral-0);
			--color-icon-white-default: var(--white-alpha-60);
			--color-icon-white-disabled: var(--white-alpha-20);
			--color-icon-white-subtle: var(--white-alpha-40);
			--color-surface-accent-blue-bold: var(--blue-40);
			--color-surface-accent-blue-bolder: var(--blue-30);
			--color-surface-accent-blue-default: var(--blue-60);
			--color-surface-accent-blue-mild: var(--blue-70);
			--color-surface-accent-blue-strong: var(--blue-50);
			--color-surface-accent-blue-subtle: var(--blue-100);
			--color-surface-accent-blue-subtler: var(--blue-110);
			--color-surface-accent-cyan-bold: var(--cyan-40);
			--color-surface-accent-cyan-bolder: var(--cyan-30);
			--color-surface-accent-cyan-default: var(--cyan-60);
			--color-surface-accent-cyan-mild: var(--cyan-70);
			--color-surface-accent-cyan-strong: var(--cyan-50);
			--color-surface-accent-cyan-subtle: var(--cyan-100);
			--color-surface-accent-cyan-subtler: var(--cyan-110);
			--color-surface-accent-green-bold: var(--green-40);
			--color-surface-accent-green-bolder: var(--green-30);
			--color-surface-accent-green-default: var(--green-60);
			--color-surface-accent-green-mild: var(--green-70);
			--color-surface-accent-green-strong: var(--green-50);
			--color-surface-accent-green-subtle: var(--green-100);
			--color-surface-accent-green-subtler: var(--green-110);
			--color-surface-accent-grey-bold: var(--moon-40);
			--color-surface-accent-grey-bolder: var(--moon-30);
			--color-surface-accent-grey-default: var(--moon-60);
			--color-surface-accent-grey-mild: var(--moon-70);
			--color-surface-accent-grey-strong: var(--moon-50);
			--color-surface-accent-grey-subtle: var(--moon-80);
			--color-surface-accent-grey-subtler: var(--moon-90);
			--color-surface-accent-indigo-bold: var(--indigo-40);
			--color-surface-accent-indigo-bolder: var(--indigo-30);
			--color-surface-accent-indigo-default: var(--indigo-60);
			--color-surface-accent-indigo-mild: var(--indigo-70);
			--color-surface-accent-indigo-strong: var(--indigo-50);
			--color-surface-accent-indigo-subtle: var(--indigo-100);
			--color-surface-accent-indigo-subtler: var(--indigo-110);
			--color-surface-accent-lime-bold: var(--lime-40);
			--color-surface-accent-lime-bolder: var(--lime-30);
			--color-surface-accent-lime-default: var(--lime-60);
			--color-surface-accent-lime-mild: var(--lime-70);
			--color-surface-accent-lime-strong: var(--lime-50);
			--color-surface-accent-lime-subtle: var(--lime-100);
			--color-surface-accent-lime-subtler: var(--lime-110);
			--color-surface-accent-magenta-bold: var(--magenta-40);
			--color-surface-accent-magenta-bolder: var(--magenta-30);
			--color-surface-accent-magenta-default: var(--magenta-60);
			--color-surface-accent-magenta-mild: var(--magenta-70);
			--color-surface-accent-magenta-strong: var(--magenta-50);
			--color-surface-accent-magenta-subtle: var(--magenta-100);
			--color-surface-accent-magenta-subtler: var(--magenta-110);
			--color-surface-accent-orange-bold: var(--orange-40);
			--color-surface-accent-orange-bolder: var(--orange-30);
			--color-surface-accent-orange-default: var(--orange-60);
			--color-surface-accent-orange-mild: var(--orange-70);
			--color-surface-accent-orange-strong: var(--orange-50);
			--color-surface-accent-orange-subtle: var(--orange-100);
			--color-surface-accent-orange-subtler: var(--orange-110);
			--color-surface-accent-purple-bold: var(--purple-40);
			--color-surface-accent-purple-bolder: var(--purple-30);
			--color-surface-accent-purple-default: var(--purple-60);
			--color-surface-accent-purple-mild: var(--purple-70);
			--color-surface-accent-purple-strong: var(--purple-50);
			--color-surface-accent-purple-subtle: var(--purple-100);
			--color-surface-accent-purple-subtler: var(--purple-110);
			--color-surface-accent-red-bold: var(--red-40);
			--color-surface-accent-red-bolder: var(--red-30);
			--color-surface-accent-red-default: var(--red-60);
			--color-surface-accent-red-mild: var(--red-70);
			--color-surface-accent-red-strong: var(--red-50);
			--color-surface-accent-red-subtle: var(--red-100);
			--color-surface-accent-red-subtler: var(--red-110);
			--color-surface-accent-yellow-bold: var(--yellow-40);
			--color-surface-accent-yellow-bolder: var(--yellow-30);
			--color-surface-accent-yellow-default: var(--yellow-60);
			--color-surface-accent-yellow-mild: var(--yellow-70);
			--color-surface-accent-yellow-strong: var(--yellow-50);
			--color-surface-accent-yellow-subtle: var(--yellow-100);
			--color-surface-accent-yellow-subtler: var(--yellow-110);
			--color-surface-bg-primary: var(--neutral-110);
			--color-surface-bg-secondary: var(--neutral-100);
			--color-surface-bg-tertiary: var(--neutral-90);
			--color-surface-brand-default: var(--blue-110);
			--color-surface-brand-hovered: var(--blue-100);
			--color-surface-brand-pressed: var(--blue-90);
			--color-surface-brand-bold-default: var(--blue-60);
			--color-surface-brand-bold-hovered: var(--blue-70);
			--color-surface-brand-bold-pressed: var(--blue-80);
			--color-surface-critical-bold: var(--red-50);
			--color-surface-critical-bolder: var(--red-40);
			--color-surface-critical-default: var(--red-90);
			--color-surface-critical-subtle: var(--red-100);
			--color-surface-critical-subtler: var(--red-110);
			--color-surface-fg-disabled: var(--white-alpha-7);
			--color-surface-fg-inverse: var(--neutral-0);
			--color-surface-fg-primary: var(--neutral-90);
			--color-surface-fg-secondary: var(--neutral-80);
			--color-surface-fg-selected: var(--white-alpha-3);
			--color-surface-fg-tertiary: var(--neutral-80);
			--color-surface-fg-alpha-default: var(--white-alpha-3);
			--color-surface-fg-alpha-pressed: var(--white-alpha-5);
			--color-surface-fg-alpha-bold-default: var(--white-alpha-10);
			--color-surface-fg-alpha-medium-default: var(--white-alpha-7);
			--color-surface-fg-alpha-medium-pressed: var(--white-alpha-10);
			--color-surface-group-primary: var(--white-alpha-3);
			--color-surface-group-secondary: var(--white-alpha-3);
			--color-surface-group-tertiary: var(--white-alpha-5);
			--color-surface-info-bold: var(--indigo-50);
			--color-surface-info-bolder: var(--indigo-40);
			--color-surface-info-default: var(--indigo-90);
			--color-surface-info-subtle: var(--indigo-100);
			--color-surface-info-subtler: var(--indigo-110);
			--color-surface-overlay-activity: var(--black-alpha-30);
			--color-surface-overlay-default: var(--black-alpha-50);
			--color-surface-success-bold: var(--green-50);
			--color-surface-success-bolder: var(--green-40);
			--color-surface-success-default: var(--green-90);
			--color-surface-success-subtle: var(--green-100);
			--color-surface-success-subtler: var(--green-110);
			--color-surface-warning-bold: var(--yellow-50);
			--color-surface-warning-bolder: var(--yellow-40);
			--color-surface-warning-default: var(--yellow-90);
			--color-surface-warning-subtle: var(--yellow-100);
			--color-surface-warning-subtler: var(--yellow-110);
			--color-text-body: var(--white-alpha-60);
			--color-text-caption: var(--white-alpha-40);
			--color-text-disabled: var(--white-alpha-20);
			--color-text-title: var(--neutral-0);
			--color-text-accent-blue-bold: var(--blue-40);
			--color-text-accent-blue-default: var(--blue-60);
			--color-text-accent-blue-subtle: var(--blue-80);
			--color-text-accent-cyan-bold: var(--cyan-40);
			--color-text-accent-cyan-default: var(--cyan-60);
			--color-text-accent-cyan-subtle: var(--cyan-80);
			--color-text-accent-green-bold: var(--green-40);
			--color-text-accent-green-default: var(--green-60);
			--color-text-accent-green-subtle: var(--green-80);
			--color-text-accent-indigo-bold: var(--indigo-40);
			--color-text-accent-indigo-default: var(--indigo-60);
			--color-text-accent-indigo-subtle: var(--indigo-80);
			--color-text-accent-lime-bold: var(--lime-40);
			--color-text-accent-lime-default: var(--lime-60);
			--color-text-accent-lime-subtle: var(--lime-80);
			--color-text-accent-magenta-bold: var(--magenta-40);
			--color-text-accent-magenta-default: var(--magenta-60);
			--color-text-accent-magenta-subtle: var(--magenta-80);
			--color-text-accent-orange-bold: var(--orange-40);
			--color-text-accent-orange-default: var(--orange-60);
			--color-text-accent-orange-subtle: var(--orange-80);
			--color-text-accent-purple-bold: var(--purple-40);
			--color-text-accent-purple-default: var(--purple-60);
			--color-text-accent-purple-subtle: var(--purple-80);
			--color-text-accent-red-bold: var(--red-40);
			--color-text-accent-red-default: var(--red-60);
			--color-text-accent-red-subtle: var(--red-80);
			--color-text-accent-yellow-bold: var(--yellow-40);
			--color-text-accent-yellow-default: var(--yellow-60);
			--color-text-accent-yellow-subtle: var(--yellow-80);
			--color-text-black-bold: var(--neutral-100);
			--color-text-black-default: var(--black-alpha-60);
			--color-text-black-disabled: var(--black-alpha-20);
			--color-text-black-subtle: var(--black-alpha-40);
			--color-text-brand-bold: var(--blue-40);
			--color-text-brand-default: var(--blue-60);
			--color-text-brand-subtle: var(--blue-80);
			--color-text-critical-bold: var(--red-40);
			--color-text-critical-default: var(--red-60);
			--color-text-critical-subtle: var(--red-80);
			--color-text-info-bold: var(--indigo-40);
			--color-text-info-default: var(--indigo-60);
			--color-text-info-subtle: var(--indigo-80);
			--color-text-inverse-bold: var(--neutral-100);
			--color-text-inverse-default: var(--black-alpha-60);
			--color-text-inverse-disabled: var(--black-alpha-20);
			--color-text-inverse-subtle: var(--black-alpha-40);
			--color-text-success-bold: var(--green-40);
			--color-text-success-default: var(--green-60);
			--color-text-success-subtle: var(--green-80);
			--color-text-warning-bold: var(--yellow-40);
			--color-text-warning-default: var(--yellow-60);
			--color-text-warning-subtle: var(--yellow-80);
			--color-text-white-body: var(--white-alpha-60);
			--color-text-white-caption: var(--white-alpha-40);
			--color-text-white-disabled: var(--white-alpha-20);
			--color-text-white-title: var(--neutral-0);

			/* Component Theme */
			/* Dark */
			/* color */
			--color-avatar-group: var(--orange-60);
			--color-avatar-organization: var(--neutral-0);
			--color-avatar-project: var(--blue-60);
			--color-avatar-user-1: var(--blue-30);
			--color-avatar-user-10: var(--green-30);
			--color-avatar-user-11: var(--neutral-30);
			--color-avatar-user-2: var(--indigo-30);
			--color-avatar-user-3: var(--lime-30);
			--color-avatar-user-4: var(--cyan-30);
			--color-avatar-user-5: var(--magenta-30);
			--color-avatar-user-6: var(--purple-30);
			--color-avatar-user-7: var(--orange-30);
			--color-avatar-user-8: var(--red-30);
			--color-avatar-user-9: var(--yellow-30);
			--color-banner-critical: var(--red-70);
			--color-banner-default: var(--neutral-60);
			--color-banner-info: var(--indigo-70);
			--color-banner-success: var(--green-70);
			--color-banner-warning: var(--yellow-60);
			--color-button-critical-icon-default: var(--neutral-0);
			--color-button-critical-icon-default-ghost: var(--red-60);
			--color-button-critical-icon-disabled: var(--red-90);
			--color-button-critical-surface-default: var(--red-60);
			--color-button-critical-surface-disabled: var(--red-110);
			--color-button-critical-surface-subtle: var(--red-110);
			--color-button-critical-text-default: var(--neutral-0);
			--color-button-critical-text-default-ghost: var(--red-60);
			--color-button-critical-text-disabled: var(--red-90);
			--color-button-ghost-icon-bold: var(--color-icon-bold);
			--color-button-ghost-icon-default: var(--color-icon-default);
			--color-button-ghost-icon-disabled: var(--color-icon-disabled);
			--color-button-ghost-text-default: var(--color-text-body);
			--color-button-ghost-text-disabled: var(--color-text-disabled);
			--color-button-glass-icon-default: var(--white-alpha-80);
			--color-button-glass-icon-disabled: var(--white-alpha-20);
			--color-button-glass-icon-disabled-on-tint: var(--white-alpha-20);
			--color-button-glass-icon-on-tint: var(--white-alpha-90);
			--color-button-glass-icon-subtle: var(--white-alpha-60);
			--color-button-glass-icon-tint: var(--blue-60);
			--color-button-glass-surface-selected: var(--neutral-110);
			--color-button-glass-text-default: var(--white-alpha-80);
			--color-button-glass-text-disabled: var(--white-alpha-20);
			--color-button-glass-text-disabled-on-tint: var(--white-alpha-20);
			--color-button-glass-text-on-tint: var(--white-alpha-90);
			--color-button-glass-text-subtle: var(--white-alpha-60);
			--color-button-glass-text-tint: var(--blue-60);
			--color-button-outline-border-default: var(--white-alpha-7);
			--color-button-outline-border-disabled: var(--white-alpha-5);
			--color-button-outline-icon-bold: var(--color-icon-bold);
			--color-button-outline-icon-default: var(--color-icon-default);
			--color-button-outline-icon-disabled: var(--color-icon-disabled);
			--color-button-outline-surface-default: var(--none);
			--color-button-outline-text-default: var(--color-text-body);
			--color-button-outline-text-disabled: var(--color-text-disabled);
			--color-button-primary-border: var(--white-alpha-15);
			--color-button-primary-icon-default: var(--color-icon-white-bold);
			--color-button-primary-icon-disabled: var(--color-icon-disabled);
			--color-button-primary-surface-default: var(
				--color-surface-brand-bold-default
			);
			--color-button-primary-surface-disabled: var(--neutral-alpha-5);
			--color-button-primary-text-default: var(--color-text-white-title);
			--color-button-primary-text-disabled: var(--color-text-disabled);
			--color-button-secondary-icon-bold: var(--color-icon-bold);
			--color-button-secondary-icon-default: var(--color-icon-default);
			--color-button-secondary-icon-disabled: var(--color-icon-disabled);
			--color-button-secondary-surface-default: var(--neutral-alpha-20);
			--color-button-secondary-surface-disabled: var(--neutral-alpha-5);
			--color-button-secondary-text-default: var(--color-text-body);
			--color-button-secondary-text-disabled: var(--color-text-disabled);
			--color-button-text-black-icon-default: var(--color-icon-black-bold);
			--color-button-text-black-icon-disabled: var(--color-icon-black-disabled);
			--color-button-text-black-text-default: var(--color-text-black-bold);
			--color-button-text-black-text-disabled: var(--color-text-black-disabled);
			--color-button-text-critical-icon-default: var(
				--color-icon-critical-default
			);
			--color-button-text-critical-icon-disabled: var(--color-icon-disabled);
			--color-button-text-critical-text-default: var(
				--color-text-critical-default
			);
			--color-button-text-critical-text-disabled: var(--color-text-disabled);
			--color-button-text-default-icon-default: var(--color-icon-bold);
			--color-button-text-default-icon-disabled: var(--color-icon-disabled);
			--color-button-text-default-icon-subtle: var(--color-icon-default);
			--color-button-text-default-text-default: var(--color-text-title);
			--color-button-text-default-text-disabled: var(--color-text-disabled);
			--color-button-text-default-text-subtle: var(--color-text-body);
			--color-button-text-link-icon-default: var(--color-icon-brand-default);
			--color-button-text-link-icon-disabled: var(--color-icon-disabled);
			--color-button-text-link-text-default: var(--color-text-brand-default);
			--color-button-text-link-text-disabled: var(--color-text-disabled);
			--color-button-text-white-icon-default: var(--color-icon-white-bold);
			--color-button-text-white-icon-disabled: var(--color-icon-white-disabled);
			--color-button-text-white-text-default: var(--color-text-white-title);
			--color-button-text-white-text-disabled: var(--color-text-white-disabled);
			--color-chips-border-default: var(--white-alpha-10);
			--color-chips-border-disabled: var(--white-alpha-5);
			--color-chips-icon-default: var(--color-icon-default);
			--color-chips-icon-disabled: var(--color-icon-disabled);
			--color-chips-icon-selected: var(--color-icon-inverse-bold);
			--color-chips-surface-selected: var(--neutral-0);
			--color-chips-text-default: var(--color-text-body);
			--color-chips-text-disabled: var(--color-text-disabled);
			--color-chips-text-selected: var(--color-text-inverse-bold);
			--color-input-border: var(--white-alpha-3);
			--color-input-surface: var(--white-alpha-3);
			--color-input-border-bold: var(--white-alpha-30);
			--color-input-border-critical: var(--color-border-critical-default);
			--color-input-border-disabled: var(--color-border-disabled);
			--color-input-border-focused: var(--neutral-50);
			--color-input-border-hovered: var(--neutral-alpha-10);
			--color-input-border-selected: var(--color-border-brand-default);
			--color-input-border-selected-light: var(--color-border-brand-subtle);
			--color-input-surface-bold: var(--white-alpha-10);
			--color-input-surface-disabled: var(--color-surface-fg-disabled);
			--color-input-surface-disabled-bold: var(--white-alpha-20);
			--color-input-surface-hovered: var(--white-alpha-7);
			--color-input-surface-selected: var(--white-alpha-10);
			--color-input-surface-selected-brand: var(
				--color-surface-brand-bold-default
			);
			--color-segmented-control-background: var(--neutral-alpha-20);
			--color-segmented-control-background-mobile: var(--white-alpha-10);
			--color-segmented-control-foreground-hover: var(--neutral-alpha-30);
			--color-segmented-control-foreground-selected: var(--neutral-alpha-50);
		}
	}
}
