/* Size */
:root {
  /* default */
  /* number */
  --radius-xs: var(--size-4);
  --radius-sm: var(--size-8);
  --radius-md: var(--size-12);
  --radius-lg: var(--size-16);
  --radius-xl: var(--size-20);
  --radius-2xl: var(--size-24);
  --radius-group: var(--size-26);
  --radius-modal: var(--size-26);
  --radius-3xl: var(--size-32);
  --radius-pill: var(--size-1000);
  --spacing-gap-2: var(--size-2);
  --spacing-gap-4: var(--size-4);
  --spacing-gap-6: var(--size-6);
  --spacing-gap-8: var(--size-8);
  --spacing-gap-layout: var(--size-8);
  --spacing-gap-10: var(--size-10);
  --spacing-gap-12: var(--size-12);
  --spacing-gap-16: var(--size-16);
  --spacing-gap-20: var(--size-20);
  --spacing-gap-24: var(--size-24);
  --spacing-gap-28: var(--size-28);
  --spacing-gap-32: var(--size-32);
  --spacing-gap-36: var(--size-36);
  --spacing-gap-40: var(--size-40);
  --spacing-gap-44: var(--size-44);
  --spacing-gap-48: var(--size-48);
  --spacing-gap-52: var(--size-52);
  --spacing-gap-56: var(--size-56);
  --spacing-sizing-2: var(--size-2);
  --spacing-sizing-4: var(--size-4);
  --spacing-sizing-6: var(--size-6);
  --spacing-sizing-8: var(--size-8);
  --spacing-sizing-10: var(--size-10);
  --spacing-sizing-12: var(--size-12);
  --spacing-sizing-16: var(--size-16);
  --spacing-sizing-20: var(--size-20);
  --spacing-sizing-24: var(--size-24);
  --spacing-sizing-28: var(--size-28);
  --spacing-sizing-32: var(--size-32);
  --spacing-sizing-36: var(--size-36);
  --spacing-sizing-40: var(--size-40);
  --spacing-sizing-44: var(--size-44);
  --spacing-sizing-48: var(--size-48);
  --spacing-sizing-52: var(--size-52);
  --spacing-sizing-56: var(--size-56);
  --spacing-sizing-64: var(--size-64);
  --spacing-sizing-72: var(--size-72);
  --spacing-sizing-80: var(--size-80);
  --spacing-sizing-88: var(--size-88);
  --spacing-sizing-96: var(--size-96);
  --spacing-sizing-104: var(--size-104);
  --spacing-sizing-112: var(--size-112);
}
